
{% extends 'base.html' %}

{% block body_container %}
    <div class="row">
					<main class="col-md-12">
						<h1 class="page-title">Contact</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<form action="{% url 'Contacts:post_contact' %}" method="post" class="contact-form">
                                    {% csrf_token %}
									<div class="row">
										<div class="col-md-6 col-md-offset-3">
											<input type="text" name="name" placeholder="Name" required for="{{ contactForm.name.id_for_input }}">
											<input type="email" name="email" placeholder="Email" required for="{{ contactForm.email.id_for_input }}">
											<input type="text" name="subject" placeholder="Subject" required for="{{ contactForm.subject.id_for_input }}">
											<textarea name="message" rows="7" placeholder="Your Message" required for="{{ contactForm.message.id_for_input }}"></textarea>
											<button type="submit" class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>Drop Me a Line</span></button>
										</div>
									</div>	<!-- row -->
								</form>
							</div>
						</article>
					</main>
				</div>
{% endblock body_container %}
